* {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(23, 28, 34);
}

.navBarToggler {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customMainColour {
    background-color: rgb(31, 38, 47)!important;
}

.customNav {
    background-color: rgb(31, 38, 47)!important;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgb(64, 64, 68);
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    /* height: 70px */
}

.customUl {
    color: rgb(218, 218, 218)!important;
    font-size: 14px !important;
}

.customUl1 {
    color: rgb(26, 153, 199)!important
}

.customUl1:hover {
    color: rgb(218, 218, 218)!important;
    border: 1px solid rgb(26, 153, 199)!important;
}

.customUl:hover {
    color: rgb(26, 153, 199)!important
}

.customDrop {
    background-color: rgb(26, 25, 28)!important;
    border: 1px solid rgb(64, 64, 68)!important;
    border-radius: 0%;
}

.customDropper {
    color: rgb(218, 218, 218)!important;
}

.customDropper:hover {
    color: rgb(193, 138, 110)!important;
    background-color: rgb(26, 25, 28)!important;
}

.bodyWrapper {
    display: flex;
    justify-content: space-between;
    /* height: 100vh; */
}

.column1 {
    background-color: rgb(31, 38, 47);
    flex-basis: 250px;
}

.column2 {
    /* flex-basis: 912px; */
    flex-grow: 3;
    max-width: 77%;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #16bdf9; */
}

.column3 {
    /* background-color: rgb(31, 38, 47); */
    /* flex-basis: 350px; */
    flex-grow: 1;
    width: 25%;
}
.column5 {
    background-color: rgb(31, 38, 47);
    /* flex-basis: 350px; */
    /* flex-grow: 1; */
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: nowrap;
}
.column5::before{
    vertical-align: middle;
    box-sizing: inherit;
}
.column5::after{
    vertical-align: middle;
    box-sizing: inherit;
}


.sidebar {
    background-color: rgb(31, 38, 47);
    position: fixed;
    width: 250px;
    height: 100vh;
    overflow: auto;
}

.contentWrapper {
    margin-top: 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    color: rgb(97, 102, 108);
    /* width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around; */
    padding: 5px;
    padding-left: 10px;
    font-size: 13px;
}

.specLogo {
    position: absolute;
    left: 10px;
    color: rgb(97, 102, 108);
}

.submenu {
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    padding: 10px;
    font-weight: 400;
}

.active {
    color: #16bdf9!important;
}

.sportsMenu {
    padding: 10px;
    /* border-bottom: 1px solid linear-gradient(90deg, #313b46 48.96%, hsla(0, 0%, 100%, 0)); */
}

.menuDivider {
    height: 1px;
    background-image: linear-gradient(90deg, #313b46 48.96%, hsla(0, 0%, 100%, 0));
    margin-top: 10px;
}


/* .navbar {
    position: sticky;
    top: 0;
    background-color: rgb(31, 38, 47);
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
} */

.spanWord {
    color: rgb(26, 153, 199)!important;
}

.rightSegment {
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    right: 0;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.bi-power {
    margin-right: 5px;
}

.bi-person-circle {
    color: rgb(26, 153, 199)!important;
    font-size: 25px;
    display: none;
}

.logoSegment {
    display: none;
}

.submenu:hover {
    color: rgb(26, 153, 199)!important;
}

.signinBtn {
    background-color: rgb(26, 153, 199)!important;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    margin-right: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signupInfo {
    color: rgb(188, 190, 193);
    font-size: 12px;
}

.navLogo1 {
    margin-right: 5px;
}

.my-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.bi-list {
    color: rgb(26, 153, 199)!important;
    font-size: 25px;
    display: none;
}

.betSlip {
    position: fixed;
    background-color: rgb(31, 38, 47);
    /* width: 350px; */
    width: 23%;
    height: 100vh;
    overflow: auto;
    right: 0;
    display: flex;
    justify-content: center;
    transition: bottom .3s ease;
}
.selectTeam{
    position: fixed;
    /* background-color: rgb(31, 38, 47); */
    background-color: #1f262f;
    /* width: 350px; */
    width: 35%;
    height: 100vh;
    overflow: auto;
    right: 0;
    display: flex;
    justify-content: center;
    transition: bottom .3s ease;
}

.slipWrapper {
    top: 0;
    width: 95%;
    background-color: rgb(39, 48, 58);
    display: flex;
    flex-direction: column;
    height: 91%;
}

.slipHeaderWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.slipHeader {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(26, 153, 199)!important;
}

.HeaderTop {
    color: rgb(26, 153, 199)!important;
    font-size: 12px;
}

.HeaderBottom {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.op1 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.op1:hover {
    color: rgb(26, 153, 199)!important;
}

.slipBody {
    border-bottom: 1px solid #1e242c;
    flex-grow: 7;
    overflow-y: auto;
    overflow-x: hidden;
}

.emptyCart {
    width: 100%;
    /* height: 450px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slipFooter {
    border-top: 1px solid #303a46;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bi-dash-circle {
    color: rgb(97, 102, 108);
    font-size: 30px;
}

.infoEmpty {
    color: rgb(97, 102, 108);
    font-weight: 300;
}

.bi-trash {
    margin-right: 5px;
}

.emptyAll {
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.emptyAll:hover {
    color: rgb(26, 153, 199)!important;
}

.IncDec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.amount1,
.maxAmnt,
.resetAmnt {
    background-color: rgb(48, 58, 70);
    height: 35px;
    margin: 1px;
    font-size: 12px;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ControlWrapper {
    background-color: rgb(48, 58, 70);
    height: 35px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.amount {
    flex-grow: 2;
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
    font-weight: 300;
    border-left: 1px solid #1e242c;
    border-right: 1px solid #303a46;
    height: 100%;
    align-items: center;
    padding-right: 10px;
}

.erase {
    border-left: 1px solid #1e242c;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.inc {
    padding: 10px;
}

.totalOdds {
    font-size: 12px;
    font-weight: 300;
}

.betControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px
}

.OddsNumber,
.OddsNumberAmnt {
    font-size: 12px;
    font-weight: 300;
    color: rgb(26, 153, 199)!important;
}

.BetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btnNew {
    background-color: rgb(26, 153, 199)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95%;
    font-weight: 300;
}

.btnNew:hover {
    background-color: rgb(29, 170, 222)!important;
    cursor: pointer;
}

.chooseSports {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.sportsWrapper {
    width: 99%;
    background-color: rgb(39, 48, 58);
    margin-top: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btcolor {
    border-top: 1px solid #262d36;
}

.btSpecColor {
    border-top: 1px solid #2a333e;
}

.bbcolor {
    border-bottom: 1px solid #1e242c;
}

.topSideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58%;
    width: 100%;
}

.topSideSports {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    align-items: center;
    height: 100%;
}

.topSideSports::-webkit-scrollbar {
    height: 5px;
}

.singleSport {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.singleSport:hover {
    cursor: pointer;
}

.singleSport:hover .sportName {
    color: aqua;
    cursor: pointer;
}

.sportName {
    margin-top: 5px;
    font-size: 12px;
}

.bottomSideWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.downSideSports {
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-indent: 10px;
}

.inputSports {
    width: 50%;
}

.inputSports input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 12px;
}

.inputSports input::placeholder {
    font-size: 12px;
}

.inputSports input:focus {
    outline: none;
}

.sortWrapper {
    display: flex;
    /* align-items: center; */
    width: 99%;
    margin-top: 10px;
    justify-content: space-between;
}

@media (max-width: 991.98px) {
    .sortWrapper {
        align-items: center;
    }
}

.sortButtons {
    display: flex;
}

.btn1,
.btn2,
.btn3 {
    font-size: 12px;
    margin: 5px;
}

.btn2,
.btn3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 10px; */
    width: 90px;
    height: 35px;
    cursor: pointer;
}

.active {
    color: #1a99c7;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 10px; */
    width: 120px;
    padding: 5px;
    background-color: #1a99c7;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
}

.gamesWrapper {
    background-color: rgb(23, 28, 34);
    width: 99%;
    margin-top: 10px;
}

.gamesTable {
    display: flex;
    flex-direction: column;
}

.leagueCol1 {
    display: flex;
    flex-grow: 2.65;
    align-items: center;
}

.leagueCol2 {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.leagueCol3 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.leagueCol4 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.leagueHeader {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    background-color: rgb(39, 48, 58);
    padding: 10px;
}


/* .betHeader{
    padding: 5px;
} */

.leagueFooter {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    background-color: rgb(29, 35, 42);
    padding: 10px;
}

.representLogo {
    margin-right: 5px;
}

.betOdds {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(232, 230, 227);
    background-color: rgb(39, 48, 58);
    height: 40px;
    width: 100%;
    margin-left: 5px;
    cursor: pointer;
}

.handiOdds,
.ouOdds {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    color: rgb(232, 230, 227);
    background-color: rgb(39, 48, 58);
    margin-left: 5px;
    width: 100%;
    cursor: pointer;
}

.exitLogo {
    cursor: pointer;
    padding: 10px;
}

.nestedOdds {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: inherit;
}

.betOdds:hover {
    background-color: #16bdf9;
}

.ouOdds:hover {
    background-color: #16bdf9;
}

.handiOdds:hover {
    /* border: 1px solid blue; */
    background-color: #16bdf9;
    ;
}

.extraOdd:hover {
    background-color: #16bdf9;
    ;
}

.extraOdd {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    color: rgb(232, 230, 227);
    background-color: rgb(52, 65, 78);
    margin-left: 5px;
    height: 40px;
    cursor: pointer;
}

.gameCol1 {
    display: flex;
    flex-grow: 2.7;
    align-items: start;
    flex-direction: column;
}

.teamRow1 {
    display: flex;
    width: 100%;
}

.betActive {
    /* background-color: #16bdf9;
    color: white!important; */
}

.cartItemsWrapper {}

.cartItem {
    background-color: rgb(48, 58, 70);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.leftWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1,
.line2,
.line3,
.line4 {
    font-size: 12px;
    font-weight: 200;
    padding: 2px;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line4 {
    display: flex;
    justify-content: space-between;
}

.nestedRow {
    padding: 5px;
    width: 30%;
}

.gameCol2 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}

.gameCol3 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.gameCol4 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.gameCol5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fontOrange {
    color: orange;
}

.fontRed {
    color: red;
}

.fontBlue {
    color: #16bdf9;
}

.extraOddsBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.finalOddWrapper {
    width: 25%;
}

.extraOddsContainer {
    width: 100%;
}

.oddsHeader {
    background-color: rgb(39, 48, 58);
    padding: 10px;
    border-bottom: 1px solid #1e242c;
}

.oddsFooter {
    display: flex;
    background-color: rgb(48, 59, 71);
    /* height: 40px; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.odds1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 10px;
    /* border-left: 1px solid #1e242c;
border-bottom: 1px solid #1e242c;
border-right: 1px solid #1e242c; */
    cursor: pointer;
}

.odds1:hover {
    box-shadow: inset 0 0 0 2px #1a99c7;
}

.accordionOdd {
    width: 100%;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.navbar-collapse {
    flex-direction: row-reverse!important;
}

.accordionActive {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sliderMenuBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.sliderMenu {
    position: absolute;
    height: 100vh;
    background-color: rgb(39, 48, 58);
    z-index: 2;
    width: 0px;
    overflow: hidden;
    right: 0;
    top: 0;
    border-left: 5px solid #262d36;
}

.cartWrapper {
    background-color: rgba(26, 153, 199, 0.4);
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
}

.cartNumber {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
}

.bi-cart3 {
    font-size: 35px;
}

.sliderMenuActive {
    width: 30%;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
}

.menuHeader {
    display: flex;
    width: 100%;
}

.part1 {
    display: flex;
}

.headerIcon {
    margin-right: 10px;
}

.menuBody {
    margin-top: 10px;
    height: 100%;
}

.noticeMenus {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.menuItem:hover {
    color: #129ed1;
}

.impBtns {
    background-color: #303a46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 48%;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.impBtns:hover {
    color: #129ed1;
}

.menuItem {
    background-color: #1F262F;
    /* #27303a; */
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.cartBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.sliderMenuBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.specDisp {
    background-color: #303a46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.specDisp2 {
    background-color: #303a46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.dispIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.dispIcon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.navMsgBar {
    display: flex;
}


/* START::Deposite and Withdraw Screen */

.depositeDrop {
    display: none;
}

.betBtns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.info1 {
    border-bottom: 1px solid #323d4a;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.extraBtns {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5px;
    padding-top: 10px;
}

.additionalInfo {
    font-size: 10px;
}

.my-backdrop2,
.my-backdrop3,
.my-backdrop4,
.my-backdrop5,
.my-backdrop6,
.my-backdrop7 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.inputLeague {
    text-indent: 5px;
}

.noticeBody,
.noticeBodyNew {
    background-color: #1F262F;
    /* width: 500px;
height: 200px; */
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
}

.noticeCancel,
.depositeCancel,
.historyCancel,
.infoCancel,
.customerCancel1,
.customerCancel2 {
    position: relative;
    right: 0;
    margin-top: -35px;
    background-color: #16bdf9;
    padding: 10px;
    display: block;
    width: 35px;
    cursor: pointer;
}

.slipCancel,
.sliderCancel, .slipCancel1 {
    position: relative;
    left: 0;
    background-color: #16bdf9;
    padding: 10px;
    display: none;
    width: 35px;
    cursor: pointer;
}

.depositeUpHeader1,
.depositeUpHeader2,
.historyUpHeader3,
.historyUpHeader4,
.historyUpHeader1,
.historyUpHeader2 {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.depositeUpHeader,
.historyUpHeader {
    display: flex;
    justify-content: space-around;
}

.depositeItem,
.withdrawlItem {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid #262d36;
    cursor: pointer;
}

.menuItem {
    background-color: #1F262F;
    /* #27303a; */
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.menuItem:hover {
    color: #129ed1;
}

.dispIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.specDisp {
    background-color: #303a46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.dispIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.selectOptions2 {
    background-color: rgb(34, 42, 51);
    border: none;
    font-size: 12px;
    padding: 10px;
    margin-right: 5px;
    width: 100%;
}

.selectOptions2:focus {
    outline: none;
}

.inputSports {
    width: 50%;
}

.inputSports2 {
    width: 20%;
}

.inputSports3 {
    width: 80%;
    border-bottom: 1px solid rgb(39, 48, 58);
}

.inputSports input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 12px;
}

.inputSports input::placeholder {
    font-size: 12px;
}

.inputSports input:focus {
    outline: none;
}

.inputSports3 input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 12px;
}

.inputSports3 input::placeholder {
    font-size: 12px;
}

.inputSports3 input:focus {
    outline: none;
}

.depositeBtn2,
.submitIssueBtn {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.noticeBtn,
.submitReportBtn {
    background-color: rgb(39, 48, 58);
    padding: 5px;
    cursor: pointer;
}

.depositeHistory {
    margin-top: 10px;
}

.historyHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.historyHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.headerItem,
.footerItem {
    background-color: #394552;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    border-bottom: 1px solid #262d36;
    cursor: pointer;
    display: flex;
}

.footerItem {
    background-color: #232a32;
}

.hd1,
.hd3,
.hd4,
.hd5 {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    padding-right: 18px;
}

.hd1s {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 8px;
}

.hd2 {
    flex-grow: 3;
    justify-content: center;
    display: flex;
}

.depositeBtn0,
.depositeBtn1,
.withdrawlBtn0,
.withdrawlBtn1 {
    padding: 5px;
    cursor: pointer;
}

.depositeBtn0:hover {
    color: #16bdf9;
}

.depositeBtn1:hover {
    color: #16bdf9;
}

.depositeActive {
    border-bottom: 1px solid #16bdf9;
}

.NoticeWrapper,
.NoticeWrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}


/* END::Deposite and Withdraw Screen */

.limitPopUp {
    font-size: 12px;
    background-color: red;
    width: 100%;
    display: none;
    justify-content: center;
    border-radius: 3px;
}

.disable {
    color: grey;
    cursor: not-allowed;
}

.disable:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 30px;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgb(54, 60, 68);
}

.betSlipActive, .selectTeamActive {
    transform: translateY(0px);
}


/* Styles for small screens (up to 576px) */

@media (max-width: 576px) {
    /* Add additional styles as needed */
    .credUsername {
        border: none;
        width: 50%;
    }
    .credPassword {
        width: 50%;
    }
    .savedCred {
        padding: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(26, 153, 199) !important;
        width: 80%;
        height: 70px;
    }
}

.selectOptions {
    background-color: rgb(34, 42, 51);
    border: none;
    font-size: 12px;
    padding: 10px;
    margin-right: 5px;
    display: none;
}

.selectOptions:focus {
    outline: none;
}

@media (max-width: 1500px) {
    /* Add additional styles as needed */
    /* .column2 {
        max-width: 76%;
    } */
    .column4 {
        display: none;
    }
    .betSlip {}
}

@media (max-width: 1450px) {
    /* Add additional styles as needed */
    /* .column2 {
        max-width: 74%;
    } */
    .column3 {
        display: none;
    }
    .column5 {
        display: none;
    }
    .cartWrapper {
        display: block;
    }
    .slipCancel, .slipCancel1 {
        display: block;
    }
    .column2 {
        max-width: 100%;
    }
}

@media (max-width: 1400px) {
    /* Add additional styles as needed */
    /* .column2 {
        max-width: 73%;
    } */
}


/* Add additional styles as needed */

@media (max-width: 1350px) {
    /* Add additional styles as needed */
    /* .column2 {
        max-width: 72%;
    } */
}

@media (max-width: 1300px) {
    .logoSegment {
        display: block;
    }
    .sidebar {
        left: -100%;
    }
    .rightSegment {
        display: none;
    }
    .bi-person-circle {
        display: block;
    }
    .bi-list {
        display: block;
    }
    .betSlip {
        /* right: 100% */
    }
    /* .column2 {
        flex-basis: 1300px;
    } */
    .customUl {
        font-size: 10px !important;
    }
    .customUl1 {
        font-size: 10px !important;
    }
    .tab-group li a {
        font-size: 16px;
    }
    h3,
    h1 {
        font-size: 16px;
    }
    /* Add additional styles as needed */
    /* Styles for medium screens (up to 768px) */
    @media (max-width: 1008px) {
        /* Add additional styles as needed */
        .leagueCol3 {
            display: flex;
        }
        .leagueCol4 {
            display: flex;
        }
        .gameCol3 {
            display: flex;
        }
        .gameCol4,
        .gameCol5 {
            display: flex;
        }
    }
    /* Styles for large screens (up to 992px) */
    @media (max-width: 852px) {
        /* Add additional styles as needed */
        .selectOptions {
            display: block;
        }
        .leagueCol3 {
            display: none;
        }
        .leagueCol4 {
            display: none;
        }
        .gameCol3 {
            display: none;
        }
        .gameCol4 {
            display: none;
        }
        .sliderCancel {
            display: block;
        }
        .menuHeader {
            justify-content: space-between;
        }
        .slipHeader {
            justify-content: space-between;
        }
        .sliderMenuActive {
            width: 60%;
        }
        .impBtns {
            width: 100%!important
        }
        .menuWrapper {
            font-size: 10px;
        }
        .odds1 {
            font-size: 10px;
        }
        .headerItem {
            font-size: 8px;
        }
        .footerItem {
            font-size: 8px;
        }
    }
    @media (max-width: 400px) {
        /* Add additional styles as needed */
        .nestedRow {
            display: none;
        }
        .odds1 {
            font-size: 8px;
        }
        .representLogo {
            display: block;
        }
    }
    /* Styles for extra large screens (up to 1200px) */
    /* Styles for screens larger than 1200px */
}
/* input[type=button], input[type=submit], input[type=text], textarea{
    -webkit-appearance: none;
    border-radius: 0;
}

button, input{
    outline: 0;
    box-shadow: none;
    border: 0;
    color: #fff;
    font-family: inherit;
    font-size: 60%;
    padding: 0;
    line-height: 1.15;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    vertical-align: middle;
    box-sizing: inherit;
}
.container .tournament .search .search-button i[data-v-3974b4ba]{
    opacity: .6;
    transition: .2s ease;
}
.container .misc[data-v-3974b4ba]{
    height: 40px;
    align-items: center;
    flex-shrink: 0;
}
.league-count{
    width: 90%;
    margin: 0 auto;
    height: 20%;
}
.container .league-wrap .league[data-v-3974b4ba]{
    width: 100%;
    display: grid;
    grid-gap: 5px;
    gap: 5px;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
    background-color: #232b34;
}
.container .league-wrap .league>div[data-v-3974b4ba]{
    height: 20px;
    align-items: center;

}
.container .league-wrap .league>div>label[data-v-3974b4ba]{
    cursor: pointer;
    display: flex;
}
.container .league-wrap .league>div>label input[data-v-3974b4ba]{
    margin-right: 5px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
} */
