
.HistoryWrap
{
    margin-top: 50px;
}

.table{
    background-color: #091D22;
}
.minicontainer{
     width: 100%;
     height: auto;
}

    .mybetstitle{
     margin-top: 30px;
}
.maincontainerbets{
     width: 90%;
     border: 1px solid #000B10;  
     height: 100%;
     margin-left: 60px;
     / background-color: red; /
     background-color: #000B10;
}


.btbt
{
    outline: none;
    border: none;
    width: 90px;
    position: relative;
    left: 840px;
    top: -40px;
    border-radius: 5px;
}
.deletebts{
    color: white;
    background-color: #303A46;
    padding: 10px 25px; 
    border: none;
    position: absolute;
    bottom: -310px;
    right: 120px;
    border-radius: 5px;
}
.deletebts:hover{
    color: #209ED1;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .table-bordered{
     border-color: #303A46;
  }
  

.pagination a:hover:not(.active) {background-color: black;}




@media (max-width: 992px) {
    
    .btbt {
        font-size: 0.7rem !important;
        width:45px;
        }
}